<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        
        body {
            background-image: url('/pics/products.jpg');
        }
    </style>
    <link rel="stylesheet"  href="/css/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <a href="/">Home Page | </a>
    <a href="/dashboard">dashboard | </a>
    <a href="/logout">logout | </a>

    <form action="/products" method="POST">
        <input type="number" placeholder="UPI" name="UPI">
        <input type="text" placeholder="name" name="name">
        <select name="department">
            <option value="Electronic Devices" name="Electronic Devices" selected>ElectronicDevices</option>
            <option value="Stationary" name="Stationary">Stationary</option>
            <option value="Books" name="Books">Books</option>
            <option value="Clothing" name="Clothing">Clothing</option>
        </select>

        <input type="text" placeholder="description" name="description">
        <input type="number" placeholder="price" name="price">
        <input type="submit" value="Add Product">
    </form>
    
    <% if(errors.length){ %>
        <div>
            <ul>
                
                <% errors.forEach(err => { %>
                    <li  class="errors"> <%= err.msg %> </li>
                <% }) %>
                
            </ul>
        </div>
    <% } %>
    
    <% if (message){ %>
        <h4><%= message %></h4>
    <% } %>
    <table>
        <thead>
            <tr>
                <th>UPI</th>
                <th>name</th>
                <th>department</th>
                <th>price</th>
                <th>description</th>
                <th>operation</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(p => { %>
                <tr>
                    <td><%= p.UPI %></td>
                    <td><%= p.name %></td>
                    <td><%= p.department %></td>
                    <td><%= p.price %></td>
                    <td><%= p.description %></td>
                    <td>
                        <form action="/products/<%= p.id %>?method=DELETE" method="POST" >
                            <input type="submit" value="Delete">
                        </form>
                        <a href="/products/<%= p.id %>">Update</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <%- include('./components/validationErrors') -%>
</body>
</html>